# API Settings
DEBUG=True
PORT=8000
HOST=0.0.0.0

# Ngrok Settings
NGROK_AUTHTOKEN=2s4KbZkWC5pMAvAtj0K9a8dhG9n_368KHtoURkHDDyCypWZW8

# YT Music Auth Settings
AUTH_FILE_PATH=./data/auth.json
COOKIES_FILE_PATH=./data/cookies.txt

# Flavor
FLAVOR=dev

# Static Files
STATIC_DIR=./static
PROXIED_IMAGE_URL=http://localhost:8000/api/proxy-image

# DB
DATABASE_URL=sqlite:///./data/flow_music.db

# JWT Settings
SECRET_KEY=y0ur-sup3r-s3cr3t-k3y-th4t-sh0uld-b3-ch4ng3d
ALGORITHM=HS256
